
.avatar {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.comment .profıle-ımage #name{
  color:white;
  font-size:25px;
  margin:0px;
  padding-top:15px;
  text-align:center;

}

#ds p{
  font-size:12px;
  color:#212121;
  opacity:0.6;
}

#ds p:hover{
  cursor:pointer;
  opacity:1.0;
}
