@import url("https://rsms.me/inter/inter.css");

* {
  font-family: "Inter", "Segoe UI", sans-serif;
  box-sizing: border-box;
}
h1,
h2 {
  color: #333333;
}
a,
input,
button {
  outline: none;
}
.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #7b68ee;
  color: white;
  border: 1px solid #7b68ee;
  margin: 0 1rem;
}
.btn:hover {
  background-color: #7b68ee;
  border-color: #7b68ee;
}
.btn--alt {
  background-color: transparent;
  color: #800040;
}
.btn--alt:hover {
  background-color: #f8dae9;
}
.card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 20rem;
}
.actions {
  text-align: right;
}
.modal {
  box-shadow: 0 1px 4px #7b68ee;
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}
.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
.rWEug {
  border-radius: 5px !important;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
    border-radius: 9999px;
  background: rgb(63,19,82);
}
