
.comment{
  width:400px;
  height:80px;
  margin:10px auto;
  background:#eae4ff;
  border-radius:10px;
}
.avatar {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.comment .profıle-ımage{
  float:left;
  width:60px;
  height:60px;
  margin:6px 0px 0px 6px;
  background:white;
  border-radius:300px;
}


.comment .profıle-ımage:hover{
  opacity:0.6;
}

.comment .profıle-ımage #name{
  color:white;
  font-size:25px;
  margin:0px;
  padding-top:15px;
  text-align:center;
  
}

.comment .username{
  float:left;
  color:#212121;
  margin:15px 0px 0px 5px;
  padding:0px;
}
.comment .time{
  float:right;
  color:#212121;
  font-size:12px;
  
  padding:10px;
}

.comment .username:hover{
  color:#757575;
}


.comment .user-comment{
  margin:0px;
  padding:0px;
}

.comment .user-comment p{
  color:#424242;
  margin:0px;
  padding:0px;
  position:relative;
  font-size:12px;
  top:35px;
  left:-36px;
}

.comment .user-comment span{
  color:#9E9E9E;
  font-size:13px;
  margin:0px;
  padding:0px;
  position:relative;
  left:75px;
  top:-13px;
}

.comment .user-comment span:hover{
  color:#616161;
}

#ds p{
  font-size:12px;
  color:#212121;
  opacity:0.6;
}

#ds p:hover{
  cursor:pointer;
  opacity:1.0;
}